<!--A page to add each Wall the user has gone to-->
{%extends 'base.html'%}
{% load static %}

{%block content%}
<nav class="navbg">
    <h2 class="logo2">Climbing <span>Spots</span></h2>
    <ul>
        <li class="list"><a href="{%url "index"%}">Home</a></li>
        <li class="list"><a href="{%url "viewCrags"%}">Crags</a></li>
        <li class="list"><a href="{%url "viewWalls"%}">Walls</a></li>
        <li class="list"><a href="{%url "viewRoutes"%}">Routes</a></li>
    </ul>
</nav>

<hr class="mainhr">
<div><br>
    <h2 >&nbsp&nbsp&nbspAdd a New Wall</h2><br>
    <form class="" method="POST" action="{%url "submitWall" %}" name="WallForm">
        {%csrf_token%}
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <label for="wallName">Wall Name: </label>
        <input type="text" name="wallName" id="wallName" autofocus>
        <br><br>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <label for="crag">Crag</label>
        <select  name="cragID" id="crag">
            {%for crag in data%}
                <option value="{{crag.id}}">{{crag.cragName}}</option>
            {%endfor%}
        </select>
        <br><br>
        &nbsp&nbsp&nbsp
        <button type="submit">Add</button>
    </form>

</div> 
<br> 
{%endblock%}