{%extends 'base.html'%}
{% load static %}

{%block content%}
<nav>
    <h2 class="logo">Climbing <span>Spots</span></h2>
    <ul>
        <li class="list"><a href="#">Home</a></li>
        <li class="list"><a href="#">About Us</a></li>
        <li class="list"><a href="#">Contact Us</a></li>
    </ul>
    <a href="#" class="btn">Climbing Spot</a>
</nav>
<div>
    <form class="" method="POST" action="{%url "addWall"%}" name="WallForm">
        {%csrf_token%}
    <label for="wallName">Wall Name: </label>
    <input type="text" name="wallName" id="wallName" autofocus>
    <br><br>
    <label for="crag">Crag</label>
    <select  name="crag" id="crag">
        {%for crag in data%}
            <option value="">{{crag.cragName}}</option>
        {%endfor%}
    </select>
    <br><br>
    <button type="submit">Add</button>
    </form>

</div> 
<br> 
{%endblock%}