<!--A page to view all previously entered Walls-->
{%extends 'base.html'%}
{%load static%}
{%block content%}
<nav class="navbg">
    <h2 class="logo2">Climbing <span>Spots</span></h2>
    <ul>
        <li class="list"><a href="{%url "index"%}">Home</a></li>
        <li class="list"><a href="{%url "viewCrags"%}">Crags</a></li>
        <li class="list"><a href="{%url "viewWalls"%}">Walls</a></li>
        <li class="list"><a href="{%url "viewRoutes"%}">Routes</a></li>
    </ul>
</nav>

<hr class="mainhr">
<div><br>
    <h2 >&nbsp&nbsp&nbspWalls</h2>
</div>
<div class="maindiv">
    {%for wall in wallData%}
    <br>
    <div>
        &nbsp&nbsp&nbsp{{wall.wallName}} | {{wall.crag}}
        <form method="POST" class="form-group" action="{% url 'delWall' %}" name="delWall" style="float:right">
            {%csrf_token%}
            <input type="number" name="wallID" id="wallID" value="{{wall.id}}" hidden>
            &nbsp&nbsp<button type="submit" class="btn btn-primary">Delete</button>&nbsp&nbsp&nbsp
        </form>
        <form method="POST" class="form-group" action="{% url 'editWall' %}" name="editWall" style="float:right">
            {%csrf_token%}
            <input type="number" name="wallID" id="wallID" value="{{wall.id}}" hidden>
            <button type="submit" class="btn btn-primary">Edit</button>
        </form>
    </div>
    <br>
    <br>
    <hr>
    {%endfor%}
</div>
<div>
    &nbsp&nbsp&nbsp<a href="{% url 'addWall'%}"><button type="button" class="btn btn-primary btn-block">Add New Wall</button></a>
    <br><br>
</div>

{%endblock%}