{%extends 'base.html'%}
{%load static%}
{%block content%}
<nav class="navbg">
    <h2 class="logo2">Climbing <span>Spots</span></h2>
    <ul>
        <li class="list"><a href="{%url "index"%}">Home</a></li>
        <li class="list"><a href="{%url "viewCrags"%}">Crags</a></li>
        <li class="list"><a href="{%url "viewWalls"%}">Walls</a></li>
        <li class="list"><a href="{%url "viewRoutes"%}">Routes</a></li>
    </ul>
</nav>

<hr class="mainhr">
<div><br>
    <h2 >&nbsp&nbsp&nbspRoutes</h2>
</div>
<div class="maindiv">
    {%for route in routeData%}
    <br>
    <div>
        &nbsp&nbsp&nbsp{{route.routeName}} | {{route.wall}} | {{route.description}}
        <form method="POST" class="form-group" action="{% url 'delRoute' %}" name="delRoute" style="float:right">
            {%csrf_token%}
            <input type="number" name="routeID" id="routeID" value="{{route.id}}" hidden>
            &nbsp&nbsp<button type="submit" class="btn btn-primary">Delete</button>&nbsp&nbsp&nbsp
        </form> 
        <form method="POST" class="form-group" action="{% url 'editRoute' %}" name="editRoute" style="float:right">
            {%csrf_token%}
            <input type="number" name="routeID" id="routeID" value="{{route.id}}" hidden>
            <button type="submit" class="btn btn-primary">Edit</button>
        </form>
    </div>
    <br>
    <br>
    <hr>
    {%endfor%}
</div>
<div>
    &nbsp&nbsp&nbsp<a href="{% url 'addRoute'%}"><button type="button" class="btn btn-primary btn-block">Add New Route</button></a>
    <br><br>
</div>

{%endblock%}