{%extends 'base.html'%}
{%load static%}
{%block content%}


<div class="maindiv">
    {%for crag in cragData%}
    <br>
    <div>
        &nbsp&nbsp&nbsp{{crag.cragName}} | {{crag.city}} | {{crag.state}}
        <form method="POST" class="form-group" action="{% url 'delCrag' %}" name="delCrag" style="float:right">
            {%csrf_token%}
            <input type="number" name="cragID" id="cragID" value="{{crag.id}}" hidden>
            &nbsp&nbsp<button type="submit" class="btn btn-primary">Delete</button>&nbsp&nbsp&nbsp
        </form>
        <form method="POST" class="form-group" action="{% url 'editCrag' %}" name="editCrag" style="float:right">
            {%csrf_token%}
            <input type="number" name="cragID" id="cragID" value="{{crag.id}}" hidden>
            <button type="submit" class="btn btn-primary">Edit</button>
        </form>
    </div>
    <br>
    <br>
    <hr>
    {%endfor%}
</div>

{%endblock%}