{%load static%}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{%block title %}Homepage {%endblock%}</title>
  <!-- Icon-->
  <link rel="shortcut icon" href="" type="image/x-icon">
  <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>
<body>
  {%block content%}
  {%endblock%}

  


  <footer>
    <p></p>
    <p>For more hiking information, contact IKE MELANSON</p>
    <p class="end">CopyRight @ Section 4 Group 4 </p>
  </footer>

  
</body>
</html>


